

.red {
    background-color: var(--red);
}
.blue {
    background-color: var(--blue);
}

.white {
    background-color: var(--white);
}

.square {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.black {
    background-color: var(--black);
}